:root {
  --Green-500: hsl(158, 36%, 37%);
  --Green-700: hsl(158, 42%, 18%);
  --Black: hsl(212, 21%, 14%);
  --Grey: hsl(228, 12%, 48%);
  --Cream: hsl(30, 38%, 92%);
  --White: hsl(0, 0%, 100%);
}
body {
  background-color: var(--Cream);
}
.card {
  background-color: var(--White);
  margin: 100px auto 0 auto;
  width: 350px;
  border-radius: 10px;
}
.card__image {
  display: block;
  background-image: url("./images/image-product-mobile.jpg");
  width: 100%;
  height: 350px;
  border-radius: 10px 10px 0 0;
  background-size: cover;
}
.card__content {
  padding: 25px;
}
.card__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: var(--Grey);
  letter-spacing: 5px;
  text-transform: uppercase;
}
.card__title {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 28px;
  color: var(--Black);
  margin: 15px 0;
}
.card__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: var(--Grey);
  line-height: 1.5;
  margin-bottom: 20px;
}
.card__price {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.card__price-current {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 28px;
  color: var(--Green-500);
}
.card__price-old {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: var(--Grey);
  text-decoration: line-through;
  /*tachar texto*/
}

button {
  width: 100%;
  padding: 15px;
  background-color: var(--Green-500);
  color: var(--White);
  border: none;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
}

button:hover {
  background-color: var(--Green-700);
}

.attribution {
  text-align: center;
  font-size: 11px;
  color: var(--Black);
  margin-top: 50px;
}

/* Estilos para pantallas mayores a 768px */
@media (min-width: 768px) {
  .card {
    margin: 100px auto 0 auto;
    width: 650px;
    display: flex;
    flex-direction: row;
  }

  .card__image {
    background-image: url("./images/image-product-desktop.jpg");
    width: 500px;
    height: auto;
    border-radius: 10px 0 0 10px;
  }
  .card__content {
    width: 50%;
    padding: 40px;
  }
}
